layout {
    pane split_direction="horizontal" {
        pane borderless=true size="80%"
        pane borderless=true size="20%"
    }
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }

}
