[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "vim/bundle/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
	ignore = untracked
[submodule "vim/bundle/vim-easymotion"]
	path = vim/pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
	ignore = untracked
[submodule "vim/bundle/incsearch-easymotion.vim"]
	path = vim/pack/vendor/start/incsearch-easymotion.vim
	url = https://github.com/haya14busa/incsearch-easymotion.vim
	ignore = untracked
[submodule "vim/bundle/nerdcommenter"]
	path = vim/pack/vendor/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
	ignore = untracked
[submodule "vim/bundle/vim-over"]
	path = vim/pack/vendor/start/vim-over
	url = https://github.com/osyo-manga/vim-over
	ignore = untracked
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "vim/pack/plugins/start/polyglot"]
	path = vim/pack/plugins/start/polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim/pack/colors/opt/sonokai"]
	path = vim/pack/colors/opt/sonokai
	url = git@github.com:sainnhe/sonokai.git
[submodule "vim/pack/plugins/start/lightline"]
	path = vim/pack/plugins/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
